{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
    <p>Ajouter une catégorie</p>

    {{ form_start(form, {'attr': {'class': 'row'}}) }}

    <div class="input-field col s12 m6 l6">
        {{ form_widget(form.name, {'attr': {'placeholder': 'Nom de la catégorie'}}) }}
    </div>

    <div class="input-field col s12 m12 l12">
        <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
    </div>

    {{ form_end(form) }}

    <br>

    <h3>Toutes les catégories de la table "category" : </h3>
    {% for category in categories %}
        <div>
            <h4>{{ loop.index }} / Catégorie : {{ category.name }}</h4>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        <p>Retour à l'accueil</p>
    </a>
{% endblock %}